* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 1000px;
    height: auto;
}

#header {
    width: auto;
    height: 50px;
    background-color: rgb(250, 250, 250);
    padding-top: 10px;
    padding-left: 22px;
}
h1 {
    display: inline-block;
    text-align: left;
    margin-right: 450px;
    font-family: 'Acme', sans-serif;
}
h3 {
    display: inline-block;
    font-family: "Arial", sans-serif;
}

#body {
    width: auto;
    height: auto;
    background: #948E99;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px;
}
#profile {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}
#profilephoto {
    display: inline-block;
    border: solid 4px rgb(171, 170, 175);
    margin-right: 20px;
    height: 276px;
}
#profilephoto img {
    height: 275px;
    width: 418px;
}
#about {
    width: 509px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
.aboutheader {
    height: 40px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: "Arial", "Helvetica", sans-serif;
}
.aboutheader, .techheader {
    height: 40px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: "Arial", "Helvetica", sans-serif;
}
#abouttext {
    height: 244px;
    display: inline-block;
    background: linear-gradient(to right, white, rgb(219, 204, 218));
    font-family: "Arial", "Helvetica", sans-serif;
}
a {
    color: black;
}
p {
    padding: 7px;
}
#columns {
    width: auto;
    height: 600px;
}
.column {
    width: 303px;
    height: 570px;
    background: linear-gradient(to right, white, rgb(219, 204, 218));
    display: inline-block;
}
.column img {
    width: 299px;
}
.lamodeheader h3 {
    margin-top: 10px;
    margin-left: 10px;
}
#lamode {
    margin: 0px 25px 0px 0px;
    float: left;
}
#familycontacts {
    margin: 0px 25px 0px 0px;
    float: left;
}
.lamode_text, .familycontacts_text, .fiveEleven_text {
    display: inline-block;
    height: 175px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 15px;
}
.icons {
    padding-top: 10px;
}
.icons img {
    display: inline-block;
    width: 40px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.button {
    text-align: center;
}

button {
    color: white;
    background-color: #1f4226;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 2px 1px #424442;
}
#footer {
    /*width: auto;
    height: 100px;*/
    font-family: sans-serif;
    text-align: center;
}
#social_media {
    text-align: center;
    display: inline-block;
    font-style: italic;
}
#social_media img {
    width: 20px;
}